# Requisitos del Sistema y Dependencias

Para ejecutar el trabajo de este laboratorio se requiere un entorno de Python y un manejo intermedio del lenguaje para la estructuración de funciones. 

Las dependencias externas necesarias para hacer que el proyecto funcione son las siguientes:

| Librería | Uso en el proyecto | Funciones principales utilizadas |
| :--- | :--- | :--- |
| **NumPy** | mantisa corta, manejo de tipos de datos con restriccion y vectorización de lectura del CSV. | `np.genfromtxt`, `np.round`, `np.trunc`, `np.abs`, `np.where`, `np.savetxt`, `np.float32`, `np.float64` |
| **Matplotlib** | Generación de gráficos en general | `plt.subplots`, `plt.bar`, `plt.plot`, `plt.savefig`, `plt.close()`, `plt.show()`, `plt.grid` |
